.container_connexion {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

input[type="text"],
input[type="password"] {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px;
	width: 200px;
}