body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../Image/fond_top-bar.png);
    background-size: cover;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: white;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: red;
}

ul.topnav li a.active {
    background-color: red;
}

ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {

    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

.global {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom: 50px;
    background-color: #333;
    color: white;
}

.partiel {
    flex: 1;
    padding: 1em;
    border: none;
}

.partiel:hover {
    background-color: #4e4e4e;
}

.global_news{
    display: flex;
    flex-direction:column;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 40px;
    background-color: #333;
}

.news_partiel {
    flex: 1;
    padding: 1em;
    border: solid;
}

.inscription {
    text-align: center;
    color: white;
    font-size: x-large;
}

.connexion {
    text-align: center;
    color: white;
    font-size: x-large;
}

.deconnexion {
    text-align: center;
    color: white;
    font-size: x-large;

}

hr{
    height: 50px;
    background-color: white;
    border-color: white;
}
